menu "Orb Device Configuration"

rsource "../components/bsp/Kconfig.orb"
rsource "../components/services_touch/Kconfig.orb"
rsource "../components/services_led/Kconfig.orb"
rsource "../components/services_audio/Kconfig.orb"
rsource "../components/services_mic/Kconfig.orb"
rsource "../components/services_network/Kconfig.orb"
rsource "../components/services_mqtt/Kconfig.orb"
rsource "../components/services_ai/Kconfig.orb"
rsource "../components/services_web/Kconfig.orb"
rsource "../components/services_ota/Kconfig.orb"
rsource "../components/app_core/Kconfig.orb"
rsource "../components/services_config/Kconfig.orb"
rsource "../components/services_storage/Kconfig.orb"

endmenu
