menu "MQTT Configuration"

config ORB_ENABLE_MQTT
    bool "Enable MQTT service"
    default n
    depends on ORB_ENABLE_NETWORK

config ORB_MQTT_BASE_TOPIC
    string "MQTT base topic"
    default "orb/device"

endmenu
